<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta charset="UTF-8" />
    <title>EBICS ini</title>
    <style>
      code {
        font-size: 0.6rem;
        overflow-wrap: break-word;
      }
      .code {
        border-style: dotted;
        padding: 8px;
        background-color: azure;
      }
    </style>
  </head>
  <body>
    <div>
      <h2>Lettre d'initialization du certificat de SIGNATURE (INI)</h2>
      <table>
        <tr>
          <td>
            Date
          </td>
          <td>
            <%= Date.today.strftime("%d.%m.%Y") %>
          </td>
        </tr>
        <tr>
          <td>
            Heure
          </td>
          <td>
            <%= Time.now.strftime("%H:%M:%S") %>
          </td>
        </tr>
        <tr>
          <td>
            Nom
          </td>
          <td>
            <%= bankname %>
          </td>
        </tr>
        <tr>
          <td>
            User-ID
          </td>
          <td>
            <%= user_id %>
          </td>
        </tr>
        <tr>
          <td>
            Partner-ID
          </td>
          <td>
            <%= partner_id %>
          </td>
        </tr>
      </table>
      <p>Type de certificat : A006</p>
      <p>Certificat :</p>
      <p class="code">
      <code><%= keys_certs['A006'].to_s %></code>
      </p>
      <p>Hash (SHA-256):</p>
      <p class="code">
      <code><%= Base64.decode64(a.public_digest).unpack("H*").join.upcase.scan(/.{2}/).join(" ") %></code>
      </p>
      <br/>
      <br/>
      <br/>
      <br/>
      <table>
        <tr>
          <td>
            Date
          </td>
          <td>
            Nom
          </td>
          <td>
            Signature
          </td>
        </tr>
        <tr>
          <td style="width: 100px;">
            <%= Date.today.strftime("%d.%m.%Y") %>
          </td>
          <td style="width: 100px;">
            <%= bankname %>
          </td>
          <td>
            __________________________________________________
          </td>
        </tr>
      </table>
    </div>
    <div style="page-break-after:always"></div>
    <h2>Lettre d'initialization du certificat d'AUTHENTIFICATION (HIA)</h2>
    <table>
      <tr>
        <td>
          Date
        </td>
        <td>
          <%= Date.today.strftime("%d.%m.%Y") %>
        </td>
      </tr>
      <tr>
        <td>
          Heure
        </td>
        <td>
          <%= Time.now.strftime("%H:%M:%S") %>
        </td>
      </tr>
      <tr>
        <td>
          Nom
        </td>
        <td>
          <%= bankname %>
        </td>
      </tr>
      <tr>
        <td>
          User-ID
        </td>
        <td>
          <%= user_id %>
        </td>
      </tr>
      <tr>
        <td>
          Partner-ID
        </td>
        <td>
          <%= partner_id %>
        </td>
      </tr>
    </table>
    <div>
      <p>Type de certificat : X002</p>
      <p>Certificat :</p>
      <p class="code">
      <code><%= keys_certs['X002'].to_s %></code>
      </p>
      <p>Hash (SHA-256):</p>
      <p class="code">
      <code><%= Base64.decode64(x.public_digest).unpack("H*").join.upcase.scan(/.{2}/).join(" ") %></code>
      </p>
      <br/>
      <br/>
      <br/>
      <br/>
      <table>
        <tr>
          <td>
            Date
          </td>
          <td>
            Nom
          </td>
          <td>
            Signature
          </td>
        </tr>
        <tr>
          <td style="width: 100px;">
            <%= Date.today.strftime("%d.%m.%Y") %>
          </td>
          <td style="width: 100px;">
            <%= bankname %>
          </td>
          <td>
            __________________________________________________
          </td>
        </tr>
      </table>
      </table>
      <div style="page-break-after:always"></div>
      <h2>Lettre d'initialization du certificat de CHIFFREMENT (HIA)</h2>
      <table>
        <tr>
          <td>
            Date
          </td>
          <td>
            <%= Date.today.strftime("%d.%m.%Y") %>
          </td>
        </tr>
        <tr>
          <td>
            Heure
          </td>
          <td>
            <%= Time.now.strftime("%H:%M:%S") %>
          </td>
        </tr>
        <tr>
          <td>
            Nom
          </td>
          <td>
            <%= bankname %>
          </td>
        </tr>
        <tr>
          <td>
            User-ID
          </td>
          <td>
            <%= user_id %>
          </td>
        </tr>
        <tr>
          <td>
            Partner-ID
          </td>
          <td>
            <%= partner_id %>
          </td>
        </tr>
      </table>
    </div>
    <div>
      <p>Type de certificat : E002</p>
      <p>Certificat :</p>
      <p class="code">
      <code><%= keys_certs['E002'].to_s %></code>
      <p>
      <p>Hash (SHA-256):</p>
      </p>
      <p class="code">
      <code><%= Base64.decode64(e.public_digest).unpack("H*").join.upcase.scan(/.{2}/).join(" ") %></code>
      </p>
      <br/>
      <br/>
      <br/>
      <br/>
      <table>
        <tr>
          <td>
            Date
          </td>
          <td>
            Nom
          </td>
          <td>
            Signature
          </td>
        </tr>
        <tr>
          <td style="width: 100px;">
            <%= Date.today.strftime("%d.%m.%Y") %>
          </td>
          <td style="width: 100px;">
            <%= bankname %>
          </td>
          <td>
            __________________________________________________
          </td>
        </tr>
      </table>
      </table>
    </div>
  </body>
</html>
